= simple_form_for(@deal, html: {class: 'form=horizontal'}) do |f|
	= f.date_select :day, { start_year: 100.years.ago.year, end_year: Date.today.year, default: Date.today}, label: "Date: "
	= f.input :money, label: "Money: "
	= f.input :note, lael: "Note: "
	= f.collection_select :wallet_id, Wallet.all, :id, :name, {promt: 'Choose a Wallet'}
	%br/
	= f.button :submit