<h2>Log in</h2>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs" style="text-align: left;">
          <%= f.input :name, required: true, autofocus: true %>
          <%= f.input :email, required: true %>
          <%= f.input :password, required: false %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in" %>
        </div>

    <% end %>
  </div>
</div>
<div style="float: right">
  <%= render "devise/shared/links" %>
</div>
