%h1 Listing Categories

%table.table.table-striped.sortable
  %thead
    %tr
      %td{:style => "text-align: center;"} Icon
      %td{:style => "text-align: center;", :conspan => "2"} Name
      %td{:style => "text-align: center;"} Income
      %td{:style => "text-align: center;"} OutCome
      %td
      %td

    %tbody
      - @categories.each do |category|
        %tr
          %td= link_to (image_tag category.image.url(:small))
          %td= link_to category.name, category
          - if category.ctype == true
            %td= 'Income'
          - else
            %td= 'Outcome'
          %end
          %td= link_to 'Edit', edit_category_path(category)
          %td= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }
      %end

%br


= link_to 'New Category', new_category_path
