-# This is list of transaction

%h1 Listing Transactions
%table{class: %w(table table-striped sortable)}
  %thead
    %tr
      %td{:style => "text-align: center;"} Day
      %td{:style => "text-align: center;"} Balance
      %td{:style => "text-align: center;"} Category
      %td{:style => "text-align: center;", colspan: "3"} Note
      %td{:style => "text-align: center;"} Wallet
  %tbody
    -@transactions.each do |transaction|
      %tr
        %td= transaction.day
        %td= transaction.money
        -#%td= transaction.
        %td= transaction.category.name
        %td
        %td
        -if transaction.note === ""
          %td

        -else
          %td= link_to transaction.note, transaction
        %end
        %td= transaction.wallet.name
    -#%td= Wallet.find_by_user_id(transaction.wallet_id)
    %end

= link_to 'New Transaction', new_transaction_path